@import "snackbar.css";
@import "tabpane.css";

.root {
    -fx-base: #f4f4f4;
    -fx-accent: #4059a9;
    -fx-focus-color: #4059a9;
    -fx-default-button: #000000;
    -fx-faint-focus-color: #000000;
}

.btn-primario {
    -fx-background-color: #4059a9;
    -fx-text-fill: #FFFFFF;
}