.jfx.date-picker:editable .date-picker-display-node {
    -fx-font-size: 11;
}

.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #4059a9;
}

.column-header {
    -fx-background-color: #adbde0;
}

.date-picker {
    -jfx-default-color: #4059a9;
    -fx-show-week-numbers: true;
}

/* Override del TabPane base*/

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #4059a9;
}

.jfx-tab-pane .tab-header-area .tab-down-button {
    -fx-background-color: #adbde0;
    -fx-min-width: 0.8em;
    -fx-max-width: 0.8em;
    -fx-min-height: 1.3em;
    -fx-max-height: 1.3em;
}

.jfx-tab-pane .tab-header-area .control-buttons-tab .jfx-rippler {
    -jfx-rippler-fill: WHITE;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: WHITE;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: #b6c3e0;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: #adbde0;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 16;
    -fx-font-weight: NORMAL;
}

.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
}