.jfx.date-picker:editable .date-picker-display-node{
    -fx-font-size: 11;
}

.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #4059a9 ;
}

.column-header{
    -fx-background-color: #adbde0;
}

.date-picker{
    -jfx-default-color: #4059a9;
    -fx-show-week-numbers: true;
}